.container-article{
    border-bottom: 0.5px solid rgb(209, 209, 209);
}

.article{
    width: 80%;
    margin: 0 auto;
.container{
    width: 100%;
    display: flex;
    @include for-phone-only{
        display: flex;
        flex-direction: column;
       }

    .content-box1{
        width: 50%;
        img{
            width: 100%;
        }

        @include for-phone-only{
            width: 100%;
           }

    }
    .content-box2{
        width: 50%;
        padding: 5px 15px;


        @include for-phone-only{
            width: 100%;
            text-align: center;
           }

        p{
            margin-top: 20px;
            color: $lightgrey-text;
        }
        h1{
            font-weight: bold;
        &+p{
            margin-top: 20px;
            color: $grey-text;
        }
        }

        .btn-article{
            margin-top: 30px;
            padding: 0 15px;
            height: 40px;
            border: none;
            border-radius: 3px;
            background-color: $white-text;
          color: $primary;
          box-shadow: 0 0 5px #555;

          &:hover{
              border: 1px solid $primary;
          }
        }

    }
}

.samples{
    width: 80%;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
    

.sample-img-row{
    width: 30%;
    
    img{
        width: 100%;
        box-shadow: 0 0 3px #555;
    &+p{
        text-transform: uppercase;
        color: $lightgrey-text;
        @include for-phone-only{
            display: none;
           }
    }}
    h3{
        font-weight: bold; 
        @include for-phone-only{
            display: none;
           }
    
    &+P{
        margin-top: 20px;
        columns: $grey-text;
        @include for-phone-only{
            display: none;
           }
    }}

}
}
}