.subscribe{
    width: 80%;
    margin: 50px auto;
    text-align: center;

    p{
        padding: 5px;
        color: $lightgrey-text;
    }
    h1{
        font-weight: bold;
    
        &+p{
            margin: 0 auto;
            width: 50%;
            color: $grey-text;
            @include for-phone-only{
                width: 100%;
               }
        }
    }
    input[type=text]{
        margin: 25px 0 20px 0;
        background-color: white;
        color: $grey-text;
        width: 30%;
        padding: 10px 15px;
        border: none;
        box-shadow: -1px 1px 5px #555;

        @include for-phone-only{
            width: 100%;
           }

    }
    .btn-subscribe{
        padding: 10px 15px;
        background-color: $primary;
        color: $white-text;
        border: none;

        &:hover{
            background-color: blue;
        }

        @include for-phone-only{
            width: 100%;
           }

    }


}