.about{
    width: 80%;
    margin: 50px auto;
    display: flex;

    @include for-phone-only{
       display: flex;
       flex-direction: column;
       }

    .about-box1{
        width: 60%;
        padding: 10px 15px 10px 0;

        @include for-phone-only{
            width: 100%;
           }

        p:first-child{
            margin-top: 10px;
            color: $lightgrey-text;
        }
        h1{
            font-weight: bold;
        }
        p{
            margin-top: 20px;
            color: rgb(54, 54, 54);;
        }
    }
    .about-box2{
        width: 40%;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px 15px 10px 0;

        @include for-phone-only{
            width: 100%;
            display: flex;
           }


        h4{
            font-weight: bold;
            margin-top: 20px;
        &+p{
            width: 60%;
            margin: 0 auto;
            color: $grey-text;

            @include for-phone-only{
                width: 100%;
               }
        }
        }
        .icon{
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            

        label{
            margin-top: 10px;
            color: #000;
            span{
                color: #111;
            }
            img{
                margin-right: 10px;

                &:hover{
                    filter: sepia(200%) hue-rotate(190deg) saturate(500%);
                }
            }
        }
    }
    }
}