* {    
  margin: 0 ;
  padding: 0 ;
}

.showcase {
  width: 80%;
  height: 90vh;
  margin: 10px auto;
  display: flex;

  @include for-phone-only{
    display: flex;
    flex-direction: column-reverse;
  }

  .showcase-box-1 {
    width: 50%;


    @include for-phone-only {
      width: 100%;
    }
    h1 {
      position: relative;
      top: 80px;
      font-size: 90px;
      color: #000;
      
      @include for-phone-only {
      font-size: 50px;
      text-align: center;
      }

    }
    p {
      width: 75%;
      font-size: 1.5em;
      position: relative;
      top: 120px;
      color: $grey-text;

      @include for-phone-only {
        text-align: center;
        width: 100%;
      }
    }
    .btn-start {
      position: relative;
      top: 160px;
      border: none;
      padding: 10px 25px;
      background-color: $primary;
      color: #fff;
      border-radius: 3px;
      
      @include for-phone-only{
        width: 100%;
      }

      &:hover {
        background-color: darkblue;
      }
    }
  }

  .showcase-box-2 {
    width: 50%;


    @include for-phone-only {
      width: 100%;
    }
    img {
      height: 630px;

      @include for-phone-only {
        height: 350px;
      }
    }
  }
}

