header {
  position: fixed;
  width: 100%;
  top: 0;
  height: 60px;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  z-index: 99;
  border-bottom: 0.5px solid rgb(209, 209, 209);

  .header {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 10px;
    display: flex;
    justify-content: space-between;
 
      img{
        height: 40px;
        position: relative;
        cursor: pointer;
      }
    .topnav {
      position: relative;
      margin-left: 30px;
     
      @include for-phone-only{
        position: relative;
        width: 100%;
        height: 80vh;
        left: -120px;
        margin-top: 50px;
        background-color: rgb(168, 168, 168);
        
      }

      .icon {
        display: none;
        @include for-phone-only{
          display: block;
          position: absolute;
          margin-top: 3px;
          color: blue;
          right: 0px;
        }
      }

      a {
        float: left;
        color: #000;
        text-decoration: none;
        border: none;
        padding: 5px;
        margin: 0 30px;
        cursor: pointer;

        &:hover {
          color: $grey-text;
        }

        @include for-phone-only{
          float: none;
          color: #fff;
          display: flex;
          flex-direction: column;
        }
      }
    }
    .btn-contact {
      top: 3px;
      right: 0;
      background-color: $primary;
      color: #fff;
      padding: 5px 10px;
      border: none;
      border-radius: 3px;

      &:hover {
        background-color: darkblue;
      }
    }
  }
}