.container-gallery{
    border-bottom: 0.5px solid rgb(209, 209, 209);
  
  }

.gallery{
    width: 80%;
    margin: 50px auto;

    p{
        color: $lightgrey-text;
    }

    .gallery-showcase{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include for-phone-only{
            display: flex;
            flex-direction: column;
           }
    
    img{
        width: 45%;
        max-height: 400px;
        background-color: darkgoldenrod;
        margin: 15px 0;
        box-shadow: 0 0 5px #555;

        @include for-phone-only{
            width: 100%;
           }
    }
    }

    .dribbble-link{
        text-align: center;
        margin-top: 30px;
        
        a{
            text-decoration: none;
            color: $pink-text;
            &:hover{
                text-decoration: rgb(143, 0, 76);
            }

        span{
            padding: 5px;
            background-color: $pink-text;
            border-radius: 3px;
            color: white;
            margin-right: 10px;
        }
        }
        }

}