// Colours
$primary        : rgb(49, 49, 255);
$lightgrey-text :rgb(216, 216, 216);
$grey-text      : rgb(124, 124, 124);
$black-text     : #000;
$white-text     : #fff;
$pink-text      : rgb(255, 0, 157);
