
.container-work{
  border-bottom: 0.5px solid rgb(209, 209, 209);

}

.work {
      width: 80%;
      margin: 50px auto;
      @include for-phone-only {
       margin-top: 200px;
      }
    .work-title {
      width: 100%;
      background-color: #fff;
      display: flex;

      @include for-phone-only {
        display: flex;
        flex-wrap: wrap;
      }
  
      .work-content {
        width: 50%;
        @include for-phone-only {
          width: 100%;
          text-align: center;
        }

  
        &+p{ //first p only
          position: relative;
          top: 15px;
          color: $lightgrey-text;
        }
        h1{
          font-weight: bold;
          font-size: 3.5em;
          color: #000;
        }
        p{
          position: relative;
          top: 5px;
          color: $grey-text;
        }
      }
      .work-buttons {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        
        @include for-phone-only {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          flex-direction: column;
        }
  }
        button{
          position: relative;
          margin-left: 10px;
          top: 40%;
          padding: 0 15px;
          height: 40px;
          border: none;
          background-color: transparent;
          border-radius: 3px;
        }
  
        .btn-first{
          background-color: $primary;
          color: #fff;

          &:hover{
            background-color: blue;
          }
        }
        .btn-second{
          background-color: white;
          color: $primary;
          box-shadow: 0 0 5px #555;

          &:hover{
            background-color: $primary;
            color: #fff;
          }

          @include for-phone-only{
            margin-top: 15px;
          }
        }
      }
  
      .work-schedule-box{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;

        @include for-phone-only{
          display: flex;
          flex-direction: column;
        }
  
        .work-schedule{
          width: 50%;
          padding: 15px 20px 15px 0 ;
        
          @include for-phone-only{
           width: 100%;
          }
        
        h3{
          font-weight: bold;
          margin-top: 20px;
        
          &+p{
            margin-top: 25px;
            color: $grey-text;
            width: 95%;

            @include for-phone-only{
             width: 100%;
            }
  
            span{
              font-weight: bold;
              color: black;
              margin-right: 5px;
            }
          }
        }  
  
        }
      }
      
  
    }
  
  